<html>
  <head>
      <%- include('partials/head', { title: "Habitat", description: "", cssLink: "https:\//habitat-pt.bqini.repl.co/css/style.css"}) %>
  </head>
  <body>
    <h1>Habitat</h1>
    <h3>we're currently working on the damn site<br>be patient lmao</h3>
    <p>
      thats a nice arguemnt
      unfortunetly i had sexual intercourse with   your mother.
    </p>
    <%- include('partials/scripts', {scriptLink:"https:\//habitat-pt.bqini.repl.co/js/script.js"}) %>
  </body>
</html>