<html>
  <head>
      <%- include('partials/head', { title: "Habitat", description: "", cssLink: "https:\//habitat-pt.bqini.repl.co/css/style.css"}) %>
  </head>
  <body>
    <div class="name">
      <h1>Habitat</h1>
    </div>
    <div class="message">
      <h3>We're currently working on the website, please be patient.</h3>
    </div>
    <%- include('partials/scripts', {scriptLink:"https:\//habitat-pt.bqini.repl.co/js/script.js"}) %>
  </body>
</html>